*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
}
header{ 
    display:flex ;
    padding: 0 24px;
    height: 6vh;
    background-color:#052842;
    justify-content:space-between;
    align-items: center;
    border-bottom:0.1rem solid black;
}

.image {
    width: 5rem;   
    display:flex;
    border-radius: 1rem;
    display: flex;
}
nav{
    font-size: 1.8rem;
    display:flex;
    align-items: center;
    justify-content:flex-end;
}
nav li{
    align-items: center;
    list-style: none;
    margin: 1.0px;
    padding:1.0rem;
}
nav ul a{
    text-decoration: none;
    color: aliceblue;
}
nav ul{
    display: flex;
}
input{
    width: 40rem;
    height: 2rem;
    margin:10px;
    border-radius: 1.0rem;
}
main{
    display: flex;
}
.menu-lateral{
    display:flex;
    background-color: #052842;
    flex-direction: column;
    width: 50vh;
    border-right: 0.1rem solid black;
}
.menu-lateral img{
    margin: 1.5rem;
    border-radius: 3.0rem;
}
.information-right{
    display:flex;
    width: 100vw;
    background-color: #052842;
    font-size: 1.6rem;
    flex-direction: column;
}
.information-right :nth-child(2){
    display: flex;
    margin-top: 2.0rem;
}
.information-right :nth-child(3){
    display: flex;
    margin-top:2.0rem;
}
.information-right :nth-child(4){
    display: flex;
    margin-top:3.0rem;
}

.footer{
    background-color: black;
    display:flex;
    justify-content: center;
    max-height: auto;
    border-bottom: 0.3rem solid #052842;
}
.footer p{
    display: flex;
    color:azure;
    font-size: 2rem;
    height: 10vh;   
    align-items: center;
}
figure{

    width: 50vw;
    display:flex;
    margin:2.0rem; 
}
figure img{
    border-radius: 1.5rem;
    border:0.1rem solid black ;
}

